*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    display: flex;
    flex-direction: column;
    background-color: rgb(146, 146, 146);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: rgb(95, 0, 0);
    color: red;

    & h1 {
        font-size: 35px;
        display: center;
        flex-direction: row;
        margin-bottom: 5px;
    }

    & img {
        display: flex;
        width: 100%;
        height: 180px;
        border-top: 30px solid black;
        border-bottom: 30px solid black;
    }
   
}

.resumo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .resumoC {              /* centralizar */
        font-size: 25px;
        margin-top: 10px;
        margin-left: 10%;    /* responsividade */
        margin-right: 10%;   /* responsividade */
    }
}

main {
    margin-left:20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 20%;
}
                            /* <----->  */
.lista {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategray;

    & img {
        width: 400px;
        
    }
}

footer {
    height: 20px;
    width: 100%;
    background-color: gray;
    & p {
        margin-top: 1px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* mobile */
@media (max-width: 600px) {
    h1 {
        font-size: 25px;
    }
    .resumo {
        font-size: 15px;
        margin-left: 2%; 
        margin-right: 2%;
    }
}

/* tablet */
@media (max-width: 1024px) and (min-width: 601px) {
    h1 {
        font-size: 30px;
    }
    .resumo {
        font-size: 20px;
        margin-left: 4%;   
        margin-right: 4%;
    }
}