*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    background-color: rgb(146, 146, 146);
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(95, 0, 0);
    color: red;

    h1 {
        font-size: 35px;
        margin-bottom: 5px;
    }

    img {
        width: 100%;
        height: 150px; 
    }
}

.resumo {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .resumoC {   
        text-align: center;
        font-size: 25px;
        margin-top: 10px;
        margin-left: 10%;    
        margin-right: 10%; 
    }
}

main {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 20%;
}

.lista {
    font-size: 20px;
    text-align: left;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategray;

    img {
        width: 600px;  
        margin: 10px;    
    }
}

footer {
    font-size: 18px;
    height: 30px;
    width: 100%;
    text-align: center;
    background-color: gray;
}

/* mobile */
@media screen and (max-width: 600px) {
    main {
        display: flex;
        margin-left: 2%;
        margin-right: 2%;
    }

    header {
        h1 {
            font-size: 25px;
        }
    }

    .resumo .resumoC {
        font-size: 15px;
        margin-left: 2%; 
        margin-right: 2%;
    }

    .lista {
        font-size: 17px;

        img {
            width: 300px;
        }
    }
    footer {
        font-size: 12px;
    }
}

/* tablet */
@media screen and (max-width: 1024px) and (min-width: 601px) {
    main {
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
    }

    header {
        h1 {
            font-size: 30px;
        }
    } 

    .resumo .resumoC {
        font-size: 20px;
        margin-left: 4%;   
        margin-right: 4%;
    }

    .lista img {
        width: 400px;
    }
}
